@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
MEDIA QUERY
0 - 599px;      Phone
600 - 899px;    Tablet portrait
900 - 1199px;   Tablet landscape
1200px +;       Desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint==tab-port {
        @media only screen and (min-width: 37.5em) {
            // 600px
            @content
        }

        ;
    }

    @if $breakpoint==tab-land {
        @media only screen and (min-width: 56.25em) {
            // 900px
            @content
        }

        ;
    }

    @if $breakpoint==desktop {
        @media only screen and (min-width: 75em) {
            // 1200px
            @content
        }

        ;
    }
}