$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$color-gray-light: #eee;
$color-gray: #999;
$color-gray-dark-1: #444;

$color-orange: #F48982;
$color-yellow: #FBDB89;
$color-green: #85EF47;

$background-blue: linear-gradient(45deg, rgba(4, 23, 92, 0.45) 0%, rgba(4, 23, 92, 0.45) 25%, rgba(23, 46, 132, 0.45) 25%, rgba(23, 46, 132, 0.45) 50%, rgba(42, 70, 173, 0.45) 50%, rgba(42, 70, 173, 0.45) 75%, rgba(61, 93, 213, 0.45) 75%, rgba(61, 93, 213, 0.45) 100%),
linear-gradient(135deg, rgb(8, 63, 29) 0%, rgb(8, 63, 29) 25%, rgb(39, 70, 68) 25%, rgb(39, 70, 68) 50%, rgb(69, 77, 107) 50%, rgb(69, 77, 107) 75%, rgb(100, 84, 146) 75%, rgb(100, 84, 146) 100%);