.btn {
    background-color: transparent;
    font-family: 'Lato-Bold';
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    outline: none;
    border: 0;
    cursor: pointer;
    overflow: hidden;
}