.creation-section {
    text-align: center;

    .creation {

        &__heading-secondary {
            text-align: center;
            font-size: 1.7rem;
            font-family: 'Lato-Bold';
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        &__task {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            &>* {
                margin: 1.5rem;
            }
        }

        &__group {
            position: relative;

        }
    }
}

.btn--add-task {
    padding: .5rem 1.5rem;
    background-color: $color-orange;
    color: $color-white;
    border-radius: 10px;
}